{% include 'header.twig' %}
<br/>
<div class="row">
    <div class="small-2 small-centered columns">
        <form action="{{ baseUrl() }}" method="post">
            <div class="row collapse">
                <div class="small-3 columns">
                    <input type="url" name="url" placeholder="URL" autofocus>
                </div>
                <div class="small-1 columns">
                    <a onclick="$(this).closest('form').submit()" class="button postfix">Make it short!</a>
                </div>
            </div>
        </form>
    </div>
</div>


{% include 'footer.twig' %}

