<p class="text-center">Created by <a href="https://github.com/cs-koneko/chisai">Christopher Schmitt</a></p>

<script src="{{ baseUrl() }}/js/vendor/jquery.js"></script>
<script src="{{ baseUrl() }}/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
